<!--
  The Footer
-->

<footer class="d-flex w-100 justify-content-center">
  <div class="d-flex justify-content-between align-items-center text-muted">
    <div class="footer-left">
<p>طراحی <a href="https://zamtar.ir/" target="_blank" rel="noopener noreferrer">zamtar</a> / خرید نوار تیپ:⇐ <a href="tel:09918993600" target="_blank" rel="nofollow noopener">09918993600</a> /پیامک:⇐<a class="fa fa-comments-o" href="sms:+989918993600" target="_blank" rel="nofollow noopener" aria-hidden="true"> SMS</a> / <a class="fa fa-whatsapp" href="https://wa.me/989918993600" target="_blank" rel="nofollow noopener" aria-hidden="true"> واتساپ</a> اکبری</p>
  </div>
  </div>
</footer>
